body,
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.55;
  color: #084066;
  font-size: 600;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
  color: #cdc07c;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* ==================================================
  General
  ================================================== */
a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* ==================================================
  Elements
  ================================================== */
.btn {
  background-color: #084066;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #FFF;
  padding: 15px 45px;
  border-radius: 50px;
}

.btn:hover {
  background-color: #c9c374;
  color: rgb(41, 40, 40);
}

.btn:focus {
  color: #fff;
}

.btn-ghost {
  border: 3px solid #fff;
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #19b86e;
}

section {
  padding: 85px 0;
}

.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 10px;
  overflow: hidden;
}

a:hover {
  text-decoration: none !important;
}

.scrolltop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #cdc07c;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.scrolltop:hover,
.scrolltop:active,
.scrolltop:focus {
  color: #fff !important;
  opacity: 0.75;
}

/* ==================================================
  Hero Styling
================================================== */
.hero {
  display: table;
  position: relative;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.hero:after {
  content: "";
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.hero-brand {
  margin-bottom: 75px;
  display: inline-block;
}

.hero-brand:hover {
  opacity: 0.75;
}

.caption {
  top: 30%;
  bottom: auto;
}

.caption h2 {
  font-size: 65px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.caption p {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.caption a {
  padding: 10px 25px;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
}

.tagline {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 45px 0 75px 0;
  color: #fff;
}

/* ==================================================
  Header Styling
================================================== */
#header {
  background: #084066;
  height: 70px;
}

#header #logo {
  margin: 14px 25px 0 0;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header {
    height: 50px;
  }
  #header #logo {
    margin: 10px 0 0 0;
  }
  #header #logo h1 {
    padding: 2px 0;
    font-size: 26px;
  }
  #header #logo img {
    max-height: 30px;
  }
}

#header .social-nav {
  margin-top: 15px;
}

#header .social-nav a {
  font-size: 24px;
  margin-left: 15px;
  color: #fff;
}

#header .social-nav a:hover {
  color: #cdc07c;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 22px 15px 18px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: #cdc07c;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #199eb8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu ul li a {
  color: #cdc07c;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  padding: 10px 15px;
}

.nav-menu ul li a:hover {
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 8px 10px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: #cdc07c;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 20px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #199eb8;
}

#mobile-nav ul .menu-item-active {
  color: #199eb8;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/* ==================================================
  NOSOTROS Stats Styling
================================================== */

.about{
  background-color: #fff;
}

.container-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-card .card {
  position: relative;
  height: 250px;
  width: 350px;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.container-card .card .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4c67af;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-card .card .cover h1 {
  font-size: 64px;
  color: #fff;
  font-size: 700;
  text-transform: uppercase;
}

.container-card .card .content-case {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card .card .content-case::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #084066;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.container-card .card:hover .content-case::before {
  transform: scaleX(1);
  transform-origin: left;
}

.container-card .card .content-case .content {
  position: relative;
  padding: 20px;
  transform: translateX(-350px);
  transition: 0.5s;
}

.container-card .card:hover .content-case .content {
  transform: translateX(0);
}

.container-card .card .content-case .content h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.container-card .card .content-case .content p {
  color: #fff;
}

.container-card .card .content-case .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #cdc07c;
  text-decoration: none;
  color: #fff;
}

.stats-row {
  margin-top: 65px;
}

.stats-col .circle {
  display: inline-block;
  width: 160px;
  height: 160px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #666;
  border: 6px solid #199eb8;
  border-radius: 50%;
  padding: 55px 25px 0 25px;
  position: relative;
}

.stats-col .circle .stats-no {
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: -25px;
  right: -15px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #e04f00;
  position: absolute;
  border-radius: 50%;
  font-weight: 700;
}

/* ==================================================
  Parallax Styling
  ================================================== */
.block {
  color: #fff;
  height: 490px;
  overflow: hidden;
  padding-top: 85px;
}

.block h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.block p {
  color: #fff;
  margin-bottom: 45px;
}

/* ==================================================
  Features Styling
  ================================================== */
.features {
  padding-bottom: 45px;
  background: #273338;
}

.features h2 {
  color: #f6f6f5;
}

.feature-col {
  display: table;
  padding-bottom: 45px;
}

.feature-col > div > div {
  display: table-cell;
  vertical-align: middle;
}

.feature-col > div > div:last-child {
  padding-left: 20px;
}

.feature-col .feature-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  background: #4c67af;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  display: inline-block;
}

.feature-col h3 {
  color: #f3f3f3;
}

.feature-col p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.container-c {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
}

.container-c .card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 10px;
  overflow: hidden;
}

.container-c .card .imgBx,
.container-c .card .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-c .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-c .card .contentBx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #084066;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.5s;
}

.container-c .card:hover .contentBx::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay: 0s;
}

.container-c .card .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-c .card .contentBx .content {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0s;
}

.container-c .card:hover .contentBx .content {
  transform: translateX(0px);
  transition-delay: 0.5s;
}

.container-c .card .contentBx .content h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container-c .card .contentBx .content p {
  font-size: 1em;
  line-height: 1.4em;
  font-weight: 300;
}

/* ==================================================
  Call-to-action Styling
  ================================================== */
.cta {
  background-color: #199eb8;
  padding: 25px 0;
}

.cta h2 {
  margin-bottom: 5px;
}

.cta h2,
.cta p {
  color: #fff;
}

.cta p {
  margin-bottom: 0;
  opacity: 0.75;
}

.cta .btn-ghost {
  position: relative;
  top: 13px;
}

/* ==================================================
  Portfolio Styling
  ================================================== */
.portfolio {
  background-color: #fff;
  padding-bottom: 0;
}

.portfolio h2 {
  color: #273338;
  margin-bottom: 25px;
}

.portfolio-grid {
  margin-top: 65px;
}

.portfolio-grid .row {
  margin: 0;
}

.portfolio-grid .row > div {
  padding: 0;
}

.portfolio-grid .row > div .card img {
  width: 370px;
  height: 100%;
  margin: 10px;
}

.portfolio-grid .row > div .card .portfolio-over {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  width: 360px;
  height: 93%;
  margin: 10px;
  background: #cdc07c;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-grid .row > div .card .portfolio-over > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.portfolio-grid .row > div .card .portfolio-over .card-title {
  color: #fff;
  font-size: 20px;
}

.portfolio-grid .row > div .card .portfolio-over .card-text {
  color: #fff;
  opacity: 0.75;
  padding: 0 45px;
  text-align: center;
}

.portfolio-grid .row > div .card:hover .portfolio-over {
  opacity: 1;
  visibility: visible;
}

.container-p {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-p .box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 20px;
}
.container-p .box .imgB {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  z-index: 2;
}

.container-p .box:hover .imgB {
  transform: translate(-35px, -35px);
}

.container-p .box .imgB img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-p .box .contentb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cdc07c;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
  transition: 0.5s ease-in-out;
}

.container-p .box:hover .contentb {
  transform: translate(35px, 35px);
}

.container-p .box .contentb h2 {
  font-size: 20px;
  color: #111;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.container-p .box .contentb h2 span {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

/* ==================================================
  NUESTRO EQUIPO
  ================================================== */
#team {
  background: #273338;
}

.team h2 {
  color: #fff;
}

.team p {
  color: #fff;
}

.team .col-sm-3 {
  padding: 0;
}

.team .card > a {
  display: block;
}

.team .card img {
  width: 100%;
}

.team .card h4 {
  color: #084066;
  text-transform: uppercase;
}

.team .card p {
  font-size: 14px;
  color: #cdc07c;
  opacity: 0.75;
  margin: 0;
  padding: 0 35px;
}

.team .card .social-nav {
  margin-bottom: 45px;
}

.team .card .social-nav a {
  color: #cdc07c;
  font-size: 16px;
  margin: 0 4px;
}

.team .card .social-nav a:hover {
  opacity: 0.75;
}

.team .card:hover .team-over {
  opacity: 1;
  visibility: visible;
}

.team .card:hover .card-title-wrap {
  background-color: #084066;
}

.team .card:hover .card-title-wrap .card-title,
.team .card:hover .card-title-wrap .card-text {
  color: #cdc07c;
}

.team .team-over {
  padding-top: 45px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team .card-title-wrap {
  padding: 15px 25px;
  position: relative;
  z-index: 9;
  background-color: #fff;
}

.team .card-title-wrap .card-title,
.team .card-title-wrap .card-text {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  display: block;
  margin: 0;
}

.team .card-title-wrap .card-title {
  font-size: 24px;
  color: #333;
}

.team .card-title-wrap .card-text {
  font-size: 18px;
  color: #999;
}

/* ==================================================
  CONTACTENOS
  ================================================== */
#contact {
  background: #fff;
  background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.contact-form{
  width: 80vw;
  display: flex;
  justify-content: center;
  background: #fff;
  margin: 50px 0;
}

.contact-form > * {
  width: 50%;
}

.contact-form .first-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cdc07c;
}

.contact-form .first-container .info div{
  margin: 24px 0;
}

.info div h3{
  color: #084066;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 10px;
}

.info div:first-of-type p{
  max-width: 260px;
  color: #fff;
}

.info div p{
  color: #fff;
  line-height: 1.6;
  font-size: 16px;
}

.sec-container{
  padding: 30px;
}

.sec-container h2{
  font-size: 30px;
  font-weight: 600;
  color: #084066;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.sec-container form{
  display: flex;
  flex-direction: column;
}

.sec-container form .form-group{
  margin-bottom: 10px;
}

.sec-container form .form-group *{ 
  min-height: 50px;
  border: 1px solid #e6e6e6;
  padding: 0 20px;
}

.sec-container form .form-group:first-of-type input{
  width: 50.1%;
  margin-right: -5px;
}

.sec-container form .form-group input{
  width: 100%;
  font-size: 15px;
  margin-top: -2px;
}

.sec-container form .form-group input::placeholder,
.sec-container form .form-group textarea::placeholder{
  color: #999;
}

.sec-container form .form-group textarea{
  width: 100%;
  min-height: 80px;
  resize: none;
  padding: 10px 20px;
  margin-top: -1px;
}

.sec-container form button{
	width: 200px;
	height: 50px;
	color:#fff;
	background: #084066;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	border: 0;
	position: relative;
	left: calc(50% - 100px);
	cursor: pointer;
}

.sec-container form button:hover{
	background-color: #cdc07c;
}

@media (max-width: 700px){
	.contact-form{
		flex-direction: column-reverse;
		width: 90vw;
	}
	.contact-form > * {
		width: 100%;
	}
	.contact-form .first-container{
		padding: 40px 0;
	}
}

/* #contact h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #273338;
}

#contact .info i {
  font-size: 32px;
  color: #cdc07c;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .form #sendmessage {
  color: #084066;
  border: 1px solid #084066;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #cdc07c;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #273338;
} */

/* ==================================================
  PIE DE PAGINA
  ================================================== */

.footer-dark{
  padding: 50px 0;
  color: #cdc07c;
  background-color: #084066;
}  

.footer-dark h3{
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}

.footer-dark ul{
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a{
  color: #cdc07c;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover{
  opacity: 0.9;
}

@media (max-width:767px){
  .footer-dark .item:not(.social){
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text{
  margin-bottom: 36px;
}

@media (max-width:767px){
  .footer-dark .item.text{
    padding-bottom: 0;
  }
}

.footer-dark .item.text p{
  opacity: 0.6;
  margin-bottom: 0;
  color: #fff;
}

.footer-dark .item.social{
  text-align: center;
}

@media (max-width:991px){
  .footer-dark .item.social{
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a{
  font-size: 20px;
  width: 36px;
  height: 36px;
  margin-top: 20px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 10px;
  color: #cdc07c;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover{
  opacity: 0.9;
}

.footer-dark .copyright{
  text-align: center;
  padding-top: 24px;
  /* opacity: 0.3; */
  font-size: 13px;
  margin-bottom: 0;
  color: #fff;
}

/* .site-footer {
  background-color: #111;
  padding: 0;
}

.site-footer h2,
.site-footer p {
  color: #fff;
}

.site-footer p {
  opacity: 0.75;
  line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
  margin-bottom: 25px;
}

.site-footer .social-nav a {
  color: #fff;
  opacity: 0.25;
}

.site-footer .social-nav a:hover {
  opacity: 1;
}

.site-footer .bottom {
  background-color: #000;
  padding: 20px 0;
}

.site-footer .bottom .list-inline,
.site-footer .bottom p {
  margin: 0;
}

.site-footer .bottom .list-inline {
  position: relative;
  top: 5px;
}

.site-footer .bottom .list-inline a {
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-right: 15px;
}

.site-footer .bottom .list-inline a:hover {
  color: #199eb8;
}

.site-footer .credits {
  color: #ddd;
}

.site-footer .credits a {
  color: #199eb8;
}

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

.footer-distributed {
  background-color: #273338;
  box-sizing: border-box;
  widows: 100%;
  text-align: left;
  font-size: 16px;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #fff;
  font-size: 36px;
  margin: 0;
}

.footer-distributed h3 span {
  color: #4c67af;
}

.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #4c67af;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #4c67af;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #4c67af;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #4f67ae;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #4c67af;
}

.footer-links a:hover {
  color: #ffffff;
} */

/* @media (max-width: 800px) {
  .footer-distributed .footer-links,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
} */

.whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
	visibility: inherit;
}

.whatsapp-icon {
	margin-top:13px;
}

/* ==================================================
  Responsive Styling
  ================================================== */

@media (max-width: 61.9em) {
  section,
  .block,
  .cta {
    padding: 35px 0;
  }
  .features {
    padding-bottom: 5px;
  }
  p,
  .block p {
    margin: 0;
  }
  .hero-brand {
    margin-bottom: 35px;
  }
  .tagline {
    margin: 35px 0;
  }
  h1 {
    font-size: 32px;
    margin: 0;
  }
  h2,
  .tagline {
    font-size: 24px;
  }
  h2 {
    margin-bottom: 25px;
  }
  h3 {
    font-size: 14px;
  }
  .hero {
    padding: 75px 0;
  }
  .stats-col {
    margin-bottom: 25px;
  }
  .block {
    height: auto;
  }
  .feature-col {
    padding-bottom: 30px;
  }
  .portfolio-grid .card h3.card-title {
    font-size: 18px !important;
  }
  .portfolio-grid .card .card-text {
    font-size: 13px;
  }
  .team .team-over {
    padding-top: 20px;
  }
  .team .card .social-nav {
    margin-bottom: 15px;
    padding: 0;
  }
  .site-footer .social-nav {
    margin-bottom: 35px;
  }
  .site-footer .list-inline {
    text-align: center;
    padding-bottom: 15px;
  }
  .site-footer .list-inline li {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .block {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 760px) {
  .container-card {
  }

  /* .team .card{
    margin-left: -100px;
    margin-right: 10px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  } */
}

@media (max-width: 768px) {


  .container-p .box:hover .contentb {
    transform: translate(0, 35px);
  }



  .whatsapp {
		position:fixed;
		width:60px;
		height:60px;
		bottom:40px;
		right:40px;
		background-color:#25d366;
		color:#FFF;
		border-radius:50px;
		text-align:center;
		font-size:30px;
		z-index:100;
		visibility: hidden;
	}
	
	.whatsapp-icon {
		margin-top:13px;
	}

  .container-p .box:hover .imgB {
    transform: translate(0, -35px);
  }
}

@media screen and (max-width: 600px) {
  .container-c {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  
}




